body {
	  background-image: url('image/4.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  margin: 0;
  padding: 0;
  width:100vw;
  height: 100vh;
  background-color: #000000;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
.imagebox {
  width: 20%;
  height: 10%;
  float: right;
  /*background-color:  rgba(0, 0, 0, 0.4);*/
}

.textbox {
  width: 50%;
  float: left;
  text-align: center;
  padding-top: 20px;
/*  background-color:  rgba(0, 0, 0, 0.6);*/
  color: #fff;
}
.content{
	/* position: relative; */
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 4%;
	padding-right: 4%;
	margin: 12% auto;
	/*background-image: url("image/6.jpg");*/
	background-color: rgba(0, 0, 0, 0.6);
	max-width: 1000px;
	max-height: 500px;
	text-align: center;
	color: white;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	text-decoration: none;
	/* padding: 0px 35px 35px 35px; */
	line-height: 24px;
	width: 100%;
	font-size: 20px;
}
.head{
	text-align: center;
	color: black;
	font-family: Impact, Gill Sans, sans-serif;
	text-decoration: none;
	padding:auto;
	padding-bottom:15px;
	line-height: 24px;
	width: 100%;
	color: white;
	font-size: 30px;
}
footer {
	/*position: fixed;*/
	padding: 10px 0;
	text-align: center;
	bottom: 0;
	background-color: #101010;
	color: #9d9d9d;
	width: 100%;
}
.fa {
	padding: 20px;
	font-size: 30px;
	width: 100px;
	text-align: center;
	text-decoration: none;
	margin: 5px 5px;

	}

	.fa:hover {
	opacity: 0.7;
	}

	.fa-github {
	background: rgba(0, 0, 0);
	color: white;
	}

	.fa-linkedin {
	background: rgba(0, 0, 0);
	color: white;
	}
	.fa-instagram {
	background: rgba(0, 0, 0);
	color: white;
	}
	.form textarea{
		max-width: 600px;
	}
.head1{
	text-align: center;
	color: black;
	font-family: Impact, Gill Sans, sans-serif;
	text-decoration: none;
	padding:auto;
	padding-bottom:15px;
	line-height: 24px;
	width: 100%;
	color: white;
	font-size: 30px;
}
.head2{
	text-align: left;
	color: black;
	font-family: Impact, Gill Sans, sans-serif;
	text-decoration: none;
	padding:auto;
	padding-bottom:15px;
	line-height: 24px;
	width: 100%;
	color: white;
	font-size: 25px;
}
.head3{
	text-align: left;
	color: black;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	text-decoration: none;
	padding:auto;
	padding-bottom:15px;
	line-height: 35px;
	width: 100%;
	color: white;
	font-size: 20px;
}
.head4{
	text-align: center;
	color: black;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	text-decoration: none;
	padding:auto;
	padding-bottom:15px;
	line-height: 24px;
	width: 100%;
	color: white;
	font-size: 40px;
}
.head5{
	text-align: center;
	color: black;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	text-decoration: none;
	padding:auto;
	padding-bottom:15px;
	line-height: 24px;
	width: 100%;
	color: white;
	font-size: 25px;
}
.content1{
	/* position: relative; */
	padding-top: 9%;
	padding-bottom: 9%;
	padding-left: 4%;
	padding-right: 4%;
	margin: 12% auto;
	background-color: rgba(0, 0, 0, 0.6);
	max-width: 1000px;
	text-align: left;
	color: white;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	text-decoration: none;
	/* padding: 0px 35px 35px 35px; */
	line-height: 24px;
	width: 100%;
	font-size: 15px;
}
/**/
.content2{
	/* position: relative; */
	padding-top: 9%;
	padding-bottom: 9%;
	padding-left: 4%;
	padding-right: 4%;
	margin: 12% auto;
	background-color: rgba(0, 0, 0, 0.6);
	max-width: 1000px;
	text-align: left;
	color: white;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	text-decoration: none;
	/* padding: 0px 35px 35px 35px; */
	line-height: 24px;
	width: 100%;
	font-size: 15px;
}
/**/
.content3{
	/* position: relative; */
	padding-top: 9%;
	padding-bottom: 9%;
	padding-left: 4%;
	padding-right: 4%;
	margin: 12% auto;
	background-color: rgba(0, 0, 0, 0.6);
	max-width: 1000px;
	text-align: left;
	color: white;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	text-decoration: none;
	/* padding: 0px 35px 35px 35px; */
	line-height: 24px;
	width: 100%;
	font-size: 15px;
}
.btn {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: 2px solid #e7e7e7;
}
/*card*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 2000px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .container1{
  	max-width: 800px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

/*desktop view styling*/
		@media only screen and (min-width: 1080px){
.container1{
  	max-width: 800px;
  }
		}

/*tablet view styling*/
		@media only screen and (max-width: 1080px){
.content{
	/* position: relative; */
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 4%;
	padding-right: 4%;
	margin: 0% auto;
	/*background-image: url("image/6.jpg");*/
	background-color: rgba(0, 0, 0, 0.6);
	max-width: 1000px;
	max-height: 1000px;
	text-align: center;
	color: white;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	text-decoration: none;
	/* padding: 0px 35px 35px 35px; */
	line-height: 24px;
	width: 100%;
	font-size: 20px;
}
.container1{
  	max-width: 600px;
  }
.content1{
	/* position: relative; */
	padding-top: 15%;
	padding-bottom: 15%;
	padding-left: 4%;
	padding-right: 4%;
	margin: 12% auto;
	background-color: rgba(0, 0, 0, 0.6);
	max-width: 1000px;
	text-align: left;
	color: white;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	text-decoration: none;
	/* padding: 0px 35px 35px 35px; */
	line-height: 24px;
	width: 100%;
	font-size: 15px;
}
/**/
.content2{
	/* position: relative; */
	padding-top: 15%;
	padding-bottom: 15%;
	padding-left: 4%;
	padding-right: 4%;
	margin: 12% auto;
	background-color: rgba(0, 0, 0, 0.6);
	max-width: 1000px;
	text-align: left;
	color: white;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	text-decoration: none;
	/* padding: 0px 35px 35px 35px; */
	line-height: 24px;
	width: 100%;
	font-size: 15px;
}

.content3{
	/* position: relative; */
	padding-top: 15%;
	padding-bottom: 15%;
	padding-left: 4%;
	padding-right: 4%;
	margin: 12% auto;
	background-color: rgba(0, 0, 0, 0.6);
	max-width: 1000px;
	text-align: left;
	color: white;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	text-decoration: none;
	/* padding: 0px 35px 35px 35px; */
	line-height: 24px;
	width: 100%;
	font-size: 15px;
}
/**/
		}

@media only screen and (max-width: 400px){
.content{
	/* position: relative; */
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 4%;
	padding-right: 4%;
	margin: 12% auto;
	/*background-image: url("image/6.jpg");*/
	background-color: rgba(0, 0, 0, 0.6);
	max-width: 1000px;
	max-height: 1000px;
	text-align: center;
	color: white;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	text-decoration: none;
	/* padding: 0px 35px 35px 35px; */
	line-height: 24px;
	width: 100%;
	font-size: 20px;
}
.content1{
	/* position: relative; */
	padding-top: 25%;
	padding-bottom: 25%;
	padding-left: 4%;
	padding-right: 4%;
	margin: 20% auto;
	background-color: rgba(0, 0, 0, 0.6);
	max-width: 1000px;
	text-align: left;
	color: white;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	text-decoration: none;
	/* padding: 0px 35px 35px 35px; */
	line-height: 24px;
	width: 100%;
	font-size: 15px;
}
/**/
.content2{
	/* position: relative; */
	padding-top: 25%;
	padding-bottom: 25%;
	padding-left: 4%;
	padding-right: 4%;
	margin: 20% auto;
	background-color: rgba(0, 0, 0, 0.6);
	max-width: 1000px;
	text-align: left;
	color: white;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	text-decoration: none;
	/* padding: 0px 35px 35px 35px; */
	line-height: 24px;
	width: 100%;
	font-size: 15px;
}
/**/
.content3{
	/* position: relative; */
	padding-top: 25%;
	padding-bottom: 25%;
	padding-left: 4%;
	padding-right: 4%;
	margin: 20% auto;
	background-color: rgba(0, 0, 0, 0.6);
	max-width: 1000px;
	text-align: left;
	color: white;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	text-decoration: none;
	/* padding: 0px 35px 35px 35px; */
	line-height: 24px;
	width: 100%;
	font-size: 15px;
}
}

/*collapse navbar for tablet*/

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

/**/
